.row{

    margin-left: 15px;
    color: white;
    padding-top: 20px;


}
.row>p{

    font-weight: 600;
}

.posters{
    display: flex;
    overflow-x: scroll;
    overflow-y:hidden ;


}
.posters::-webkit-scrollbar{
    display: none;
}


.poster{
    margin-top: 13px;
    max-height: 180px;
    /* height: 38vh; */
    margin-right: 15px;

}

.movieposter-name{
    text-align: center;

    cursor: pointer;
}
.small_poster{
    margin-top: 13px;
    max-height: 100px;
    padding-right: 15px;
    cursor: pointer;
}
.poster:hover{
    transform: scale(1.08);
    cursor: pointer;
}
.small_poster:hover{
    transform: scale(1.08);
    cursor: pointer;
}